.cards__section {
    background-image: url('/img/bcg-body.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cards__list {
    position: relative;
    top: -50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 42px 14px;
}

.cards__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 128px;

    transition: transform var(--animation);
}

.cards__item:hover {
    transform: scale(1.1);
}

.cards__item::after {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 0;

    display: block;
    width: 100px;
    height: 100px;

    border: 1px solid rgba(220, 86, 197, 0.3);
    border-radius: 50px 0;
}

.cards__item__image {
    width: 128px;
    height: 161px;
    border-radius: 50px 0;
    object-fit: cover;
}

.cards__item__title {
    color: #DC56C5;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.cards__item__date {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.cards__item__location__link {
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    transition: color var(--animation);
}

.cards__item__location__link:hover {
    color: #DC56C5;
}

.cards__item__location__icon {
    width: 7px;
    height: 10px;
    fill: #FFF;
}

@media screen and (min-width: 768px) {
    .cards__list {
        gap: 58px 27px;
    }

    .cards__item {
        width: 180px;
    }

    .cards__item::after {
        top: -14px;
        right: -14px;

        width: 153px;
        height: 143px;
    }

    .cards__item__image {
        width: 180px;
        height: 227px;
    }

    .cards__item__title {
        font-size: 16px;
    }

    .cards__item__date {
        font-size: 16px;
    }

    .cards__item__location__link {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .cards__list {
        top: 0;
        gap: 63px 70px;
    }
}