.info__modal {
    position: fixed;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 272px;
    height: 90vh;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;

    border-radius: 150px 0px;
    background-color: #FFF2FD;
    padding: 75px 12px 104px;

    transition: transform var(--animation);
}

.info__modal::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.info__modal__close-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 17px;
    height: 17px;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}

.info__modal__small-img {
    width: 102px;
    height: 102px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}

.info__modal__poster {
    display: none;
}

.info__modal__title {
    color: #DC56C5;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.info__modal__text {
    color: #0E0E0E;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.info__modal__buy-button {
    display: block;
    color: #FFF;
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 500;

    width: 145px;
    height: 40px;

    border-radius: 5px;
    background-color: #4C00FE;

    margin: 10px auto 20px auto;
}

.info__modal__more-button {
    display: block;
    color: #4C00FE;
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 500;

    width: 230px;
    height: 40px;

    border-radius: 5px;
    border: 1px solid #4C00FE;
    background-color: transparent;
    margin: 0 auto;
}

/* tablet */
@media screen and (min-width: 768px) {
    .info__modal {
        width: 595px;
        border-radius: 300px 0px;
        padding: 28px 17px 56px 50px;
    }

    .info__modal__small-img {
        width: 70px;
        height: 70px;
        margin-bottom: 43px;
    }

    .info__modal__content__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;
    }

    .info__modal__poster {
        display: block;
        width: 233px;
        height: 416px;
        object-fit: cover;
    }

    .info__modal__title {
        text-align: start;
    }

    .info__modal__text {
        width: 265px;
        text-align: start;
    }

    .info__modal__buy-button {
        margin-left: 0;
        margin-right: 0;
    }

    .info__modal__more-button {
        width: 255px;
    }
}

/* desktop */
@media screen and (min-width: 1200px) {
    .info__modal {
        width: 930px;
        padding: 62px 30px 62px 30px;
    }

    .info__modal__close-btn {
        top: 30px;
        right: 30px;
        width: 25px;
        height: 25px;
    }

    .info__modal__small-img {
        width: 132px;
        height: 132px;
    }

    .info__modal__content__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .info__modal__poster {
        width: 360px;
        height: 641px;
    }

    .info__modal__title {
        font-size: 24px;
        text-align: start;
        margin-top: 20px;
        margin-bottom: 7px;
    }

    .info__modal__text {
        width: 450px;
        font-size: 18px;
    }

    .info__modal__buy-button {
        margin-top: 20px;
    }
}