<section class="cards__section">
  <div class="container">
    <ul class="cards__list"></ul>
    <ul class="cards__pagination-list">
      <!-- <li class="pagination__item">
        <button class="pagination__button active" data-page="1">1</button>
      </li>
      <li class="pagination__item">
        <button class="pagination__button" data-page="1">2</button>
      </li>
      <li class="pagination__item">
        <button class="pagination__button" data-page="1">3</button>
      </li> -->
    </ul>
  </div>
</section>
