<header class="header">
  <div class="container">
    <a href="index.html" class="header__logo__link">
      <picture>
        <source
          srcset="/img/logo/logo-desktop.png"
          media="(min-width: 1200px)"
        />
        <source srcset="/img/logo/logo-tablet.png" media="(min-width: 768px)" />
        <source
          srcset="/img/logo/logo-mobile@2x.png"
          media="(max-width: 767px)"
        />
        <img class="heder__logo__image" src="#" alt="logo" />
      </picture>
    </a>
    <h1 class="header__title">
      FIND BEST EVENTS <br />
      AROUND THE WORLD
    </h1>
    <form class="header__form">
      <label class="header__form__label">
        <input
          name="searchQuery"
          id="searchQuery"
          class="header__form__input"
          type="text"
          placeholder="Start searching"
        />
        <button class="header__form__button">
          <svg class="header__form__button__icon">
            <use href="../img/icons/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </label>
      <label class="header__form__label">
        <input
          class="header__form__input select-country"
          autocomplete="off"
          type="text"
          data-country_id="US"
          placeholder="Choose country"
        />
        <div class="header__form__button">
          <svg
            class="header__form__button__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="13"
            height="8"
            viewBox="0 0 13 8"
            fill="none"
          >
            <path d="M6.5 8L0.00480968 0.5L12.9952 0.499999L6.5 8Z" />
          </svg>
        </div>
        <div class="country__overlay">
          <div class="country__list-container hidden-list">
            <ul class="country__list"></ul>
          </div>
        </div>
      </label>
    </form>
  </div>
</header>
