<header class="header">
  <div class="container">
    <a href="index.html" class="header__logo__link">
      <picture>
        <source
          srcset="/img/logo/logo-desktop.png"
          media="(min-width: 1200px)"
        />
        <source srcset="/img/logo/logo-tablet.png" media="(min-width: 768px)" />
        <source
          srcset="/img/logo/logo-mobile@2x.png"
          media="(max-width: 767px)"
        />
        <img class="heder__logo__image" src="#" alt="logo" />
      </picture>
    </a>
    <h1 class="header__title">
      FIND BEST EVENTS <br />
      AROUND THE WORLD
    </h1>
    <form class="header__form">
      <input class="header__input" type="text" placeholder="Start searching" />
      <input class="header__input" type="text" placeholder="Choose country" />
    </form>
  </div>
</header>
